body {
    background: #2A0944 !important;
}

div {
    background: #2A0944 !important;
}

.card * {
    background: #3B185F !important;
}

.cardboard * {
    background: #A12568 !important;
}

p {
    color: #FEC260 !important;
}

form {
    background: #3B185F !important;
}

input {
    color: #FEC260 !important;
}